/* ===================================
   Mobile Nav
   ================================ */
    #mobile-nav-toggle {
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 0 0 0 43px;
        font-size: 0.8em;
        
        /* Prevent Highlight on Tap */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #mobile-nav-toggle:before {
        /* you'll probably want to tweak these */        
        margin-top: -11px;
        height: 15px;

        /* these, most often, will be left alone */ 
        content: '';
        display: block;
        background: transparent;
        border-bottom: 9px double #000;
        border-top: 3px solid #000;
        width: 22px;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        position: absolute;
        top: 50%;
        left: 15px;
    }
    #mobile-nav-toggle span {
        vertical-align: middle;
        display: block;
        position: relative;
        top: 50%;
        margin-top: -0.85em;
    }

    #mobile-nav {
        z-index: 0;
        visibility: hidden;
        padding: 100px 0 0; /* change top padding to equal header-height */
        text-align: left;
        background: #fff;
        color: #999;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        overflow-y: scroll;
        /* -webkit-overflow-scrolling: touch; */ /* this is breaking scroll-to-top on iOS5 */ 
        -webkit-transform-style: flat;
        -webkit-backface-visibility: hidden;
        /* use 2d transforms to include pre android 3.0 */
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
        /* transition visibility and z-index for older phones that don't support transform transitions */
        -webkit-transition: -webkit-transform 0.2s ease-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.2s;
        -moz-transition: -moz-transform 0.2s ease-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.2s;
        -o-transition: -o-transform 0.2s ease-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.2s;
        -ms-transition: -ms-transform 0.2s ease-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.2s;
        transition: transform 0.2s ease-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.2s;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #mobile-nav.on {
        z-index: 2; /* change this, so that it's ontop of content, but one under header */
        visibility: visible;
        -webkit-transform: translate(0, 0); 
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);/**/
        -webkit-transition: -webkit-transform 0.2s ease-out 0s, visibility 0s linear 0s, z-index 0s linear 0s;
        -moz-transition: -moz-transform 0.2s ease-out 0s, visibility 0s linear 0s, z-index 0s linear 0s;
        -o-transition: -o-transform 0.2s ease-out 0s, visibility 0s linear 0s, z-index 0s linear 0s;
        -ms-transition: -ms-transform 0.2s ease-out 0s, visibility 0s linear 0s, z-index 0s linear 0s;
        transition: transform 0.2s ease-out 0s, visibility 0s linear 0s, z-index 0s linear 0s;
        padding-bottom:1px;
    }
    #mobile-nav ul, 
    #mobile-nav li {
        margin: 0;
        padding: 0;
    }
    #mobile-nav a {
        display: block;
        color: #999;
        font-size: 1.25em;
        text-decoration: none;
        padding: 1em 1.75em;
        border-bottom: 1px solid #ccc;
        
        /* Prevent Highlight on Tap */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #mobile-nav a:hover,
    #mobile-nav a:focus,
    #mobile-nav a:active {
        background-color: #ccc;
        color: #000;
    }
    #mobile-nav .sub-menu a {
        padding: 0.75em 1.75em 0.75em 3em;
    }

    #mobile-nav-close { /* fallback close button for browsers that don't implement z-index properly */
        position: absolute;
        top: 0;
        width: 100%;
        line-height: 100px; /* change line-height to equal header-height */
        padding-top: 0 !important;
        padding-bottom: 0 !important;  
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #mobile-nav-close:before {
        -webkit-font-smoothing: antialiased;
        content: '\2716';
        font-family: 'sans-serif';
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
        font-size: 1.25em;
        line-height: 1em;
        position: relative;
        top: 1px;
        margin-right: 0.25em;
    }

    .admin-bar #mobile-nav {
        top: 28px;
    }
    .admin-bar #mobile-nav.on {
        padding-bottom:29px;
    }

/* ===================================
   Hide Mobnav for non-mobile
   ================================ */
@media only screen and (min-width: 769px) {
    #mobile-nav-toggle,
    #mobile-nav {
        display: none;
    }
}
/* ===================================
   Hide desktop nav + sticky header for mobile
   ================================ */
@media only screen and (max-width: 769px) {
    #container {
        padding-top: 101px; /* change this to equal header-height */     
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #header {
        position: fixed;
        z-index: 3; /* should be ontop of all other content */
        width: 100%;
        top: 0;
    }
    #nav {
        display: none;
    }
    #content { /* the container for all your non-header content */
        position: relative;
        z-index: 1;
    }
}